body{
    background-color: #191f26 ;
    margin: 0;
    padding-top: 80px; 
    padding-bottom: 4rem
}

html {
    scroll-behavior: smooth !important;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.scroll-animation {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.scroll-animation.show {
    opacity: 1;
    transform: translateY(0);
}

a {
    color: #ffffff;  /* Définit la couleur du lien non cliqué */
    text-decoration: none; /* Optionnel : retire le soulignement des liens */
}

a:hover {
    text-decoration: underline; /* Tu peux garder un soulignement au survol si tu veux */
}

nav {
    background: #2c353f;
    padding: 1rem;
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 1000; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); 
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}


nav ul li {
    display: inline;
    font-family: Lexend Deca, sans-serif; /*font-family: 'DM Serif Display', sans-serif;*/

}


nav ul li a {
    color: #E8EACC;                     /*color: white;*/
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}


nav ul li a:hover {
    background-color: grey;
    border-radius: 2px;
    transition: all 0.4s ease-out;
    text-decoration: underline;
}

footer{
    background: #2c353f;  
    color: #E8EACC;                         /*color: white;*/  
    padding: 1.5rem;  

    bottom: 0px; 
    left: 0;  
    width: 100%;  
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5); 
    text-align: center; 
    font-size: 10px; 
    font-family: Lexend Deca, sans-serif;
    position: fixed; 
    z-index: 999;
}


footer h3:hover{
    text-decoration: underline;
    z-index: 999;
}


.Contenu{
    scroll-margin-top: 3rem;
}


.Contenu .Accueil {
    color: #E8EACC;
    font-family: Lexend Deca, sans-serif;     /*font-family: DM Serif Display, sans-serif;*/
    text-align: center;
    margin-top: 1%;
    font-size:  120%;
}


.Contenu h1{
    color: #E8EACC;
    font-family: Lexend Deca, sans-serif;     /*font-family: DM Serif Display, sans-serif;*/
    text-align: center;
    margin-top: 1%;
    text-decoration: underline;
}


.Contenu .Texte1{
    color: #E8EACC;                         /*color: #FDFDFB;*/ 
    flex-shrink: 1;
    max-width: 500px;
    font-size: 1vw;
    font-family: Lexend Deca, sans-serif;
    margin-left: 15%;
    margin-top: 6%;
    transition: transform 0.3s ease;
    text-align: center;
}


.Contenu section p:not(.dernier-paragraphe-matieres) {
    color: #E8EACC; 
    font-family: 'Lexend Deca', sans-serif;
    margin-left: 58%;
    margin-top: 10%;
    margin-bottom: -0.5rem;
    padding: 0;
    text-align: center;
    max-width: 500px;
    font-size: 1vw;
    padding-bottom: 1rem;
}


.Contenu section ul {
    color: #E8EACC; 
    font-family: 'Lexend Deca', sans-serif;
    margin-left: 58%;
    text-align: center;
    max-width: 500px;
    font-size: 1vw;
    padding-bottom: 1rem;
}


.Contenu section ul li {
    margin-bottom: 0.5rem 0; 
}

.Contenu section p.dernier-paragraphe-matieres {
    color: #E8EACC; 
    font-family: 'Lexend Deca', sans-serif;
    margin-left: 58%;
    margin-bottom: -0.5rem;
    padding: 0;
    text-align: center;
    max-width: 500px;
    font-size: 1vw;
    padding-bottom: 1rem;
}




/*IMAGES */
.image1 {
    width: 250px;
    border: 7px solid #232826;
    border-radius: 20px;
    margin-left: 62%;
    bottom: -20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: absolute;
    transform: rotate(11deg);
    z-index: 2;

}

.image1:hover {
    transform: scale(2.5) translateX(35px) translateY(-80px); 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3); 
    z-index:90 ;

}

.image2{
    width: 300px;
    border: 7px solid #232826;
    border-radius: 20px;
    margin-left: 70%;
    bottom: 230px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: absolute;
    transform: rotate(-10deg);

}

.image2:hover {
    transform: scale(2.7) translateX(-35px) translateY(30px); 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3); 
    z-index:90 ;
}

.image3{
    width: 250px;
    border: 7px solid #232826;
    border-radius: 20px;
    margin-left: 58%;
    bottom: 200px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: absolute;
    transform: rotate(-10deg);

    
}

.image3:hover {
    transform: scale(2.1) translateX(75px) translateY(40px); 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3); 
    z-index:90 ;
}

.SIN{
    width: 250px;
    border: 7px solid #232826;
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: absolute;
    margin-top: 10%;
    margin-left:11%;
    z-index: 90;

}


.SIN:hover{
    transform: scale(3) translateX(80px) translateY(40px); 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    z-index: 91;   
}

.AC{
    width: 250px;
    border: 7px solid #232826;
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: absolute;
    margin-top: 10%;
    margin-left:33%;
    z-index: 90;
}

.AC:hover{
    transform: scale(3) translateX(-80px) translateY(40px); 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    z-index: 91;   
}

.EE{
    width: 250px;
    border: 7px solid #232826;
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: absolute;
    margin-top: 25%;
    margin-left:33%;
    z-index: 90;
}

.EE:hover{
    transform: scale(3) translateX(-80px) translateY(-40px); 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    z-index: 91;   
}

.ITEC{
    width: 250px;
    border: 7px solid #232826;
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: absolute;
    margin-top: 25%;
    margin-left:11%;
    z-index: 90;
}

.ITEC:hover{
    transform: scale(3) translateX(80px) translateY(-40px); 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    z-index: 91;    
}

#Texte_SIN{
    color: #E8EACC; 
    font-family: 'Lexend Deca', sans-serif;
    position: absolute;
    margin-top: 20.1%;
    margin-left:14.5%;


}
#Texte_AC{
    color: #E8EACC; 
    font-family: 'Lexend Deca', sans-serif;
    position: absolute;
    margin-top: 20.1%;
    margin-left:36.5%;


}
#Texte_EE{
    color: #E8EACC; 
    font-family: 'Lexend Deca', sans-serif;
    position: absolute;
    margin-top: 35.1%;
    margin-left:14.5%;


}
#Texte_ITEC{
    color: #E8EACC; 
    font-family: 'Lexend Deca', sans-serif;
    position: absolute;
    margin-top: 35.1%;
    margin-left:36.25%;


}


/*FIN IMAGES*/



.interrogation{
    width: 400px;
    display: block;
    margin-left: 60%;  
    margin-top: -40%;
    animation: levitation 2s ease-in-out infinite;
    transition: transform 0.5s ease-in-out;

}

.interrogation:hover {
    transform: rotate(360deg);
}



.Contenu .Texte3{
    color: #E8EACC;                         /*color: #FDFDFB;*/ 
    flex-shrink: 1;
    max-width: 500px;
    font-size: 1vw;
    font-family: Lexend Deca, sans-serif;
    margin-left: 15%;
    margin-top: 10%;
    transition: transform 0.3s ease;
    text-align: center;
    padding-bottom: 5.5rem;
}


.Contenu .Texte3:hover{
    transform: scale(1.00);
}




@keyframes levitation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-28px); 
    }
    100% {
        transform: translateY(0);
    }
}



@media screen and (max-width: 479px) {

    body {
        overflow-x: hidden; 
        width: 100%;
    }

    nav ul {
        flex-direction: row;
        align-items: center;
        font-size: 10px;
        display:flex;
        width: 100%;
    }

    .Contenu h1{ /* Gros titre */
        margin-top: 20px;
        width: 100%;
        line-height: 1.4; 
    }
    
    
    .Contenu p{ /* Texte en dessous du titre */
        margin-top: 10px;
        font-size: 9px;
        width: 99%;
        line-height: 1.4; 
        
    }




    .Contenu .Texte1 {
        display: flex; 
        justify-content: center; 
        align-items: center; 
        flex-direction: column; 
        padding: 20px; 
        text-align: center; 
        height: auto; 
        max-width: 300px; 
        margin: 20px auto; 
        box-sizing: border-box; 
    }

    .Contenu .Texte1 p {
        font-size: 0.7rem; /* Augmente la taille du texte (valeur ajustable) */
    }
    
    .Contenu .Texte1 h3 {
        margin: 0; 
        font-size: 0.8rem; 
        line-height: 1.4; 
    }

    .image1{
        transform: rotate(0deg);
        margin-left: 7%;
        margin-bottom: -25%;
        width: 35%;
        position: static;
        z-index: 50;
        transform: none;
    }

    .image2{
        transform: rotate(0deg);
        margin-left: 7%;
        margin-bottom: 3%;
        width: 35%;
        position: static;
        z-index: 50;
        transform: none;
    }
   
    .image3{
        transform: rotate(0deg);
        margin-left: 50%;
        margin-bottom: -45%;
        width: 35%;
        position: static;
        z-index: 50;
        transform: none;
    }

    .image1:hover {
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3); 
        transform: none;
   
    }
    .image2:hover {
        transform: none;
    }
    .image3:hover {
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3); 
        transform: none;
    }
    
    #CkoiLesMatieres p{
        display: flex; 
        justify-content: center; 
        align-items: center; 
        flex-direction: column; 
        text-align: center; 
        height: auto; 
        max-width: 400px; 
        box-sizing: border-box; 
        font-size: 0.6rem;
        line-height: 1.2;   
        margin: 10px 0;    
        padding: 0; 
        margin-top: 50%;

    }
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
    /* .Contenu h3 {
        font-size: 10px;
        position: relative;
        margin-right: 10px ;
        /*align-items: center; 
        width: 90%;

    } */

}

